<article class="article">
Placeholder
</article>

<style lang="scss">
  .article {
    max-width: calc(1128px + 3rem);
    padding: 2rem 1.5rem;
    margin: auto;

    h1 {
      @include font-title;
    }

    h2 {
      @include section-heading;
    }
  }
</style>