@import './reset.css';

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

* {
  transition-property: background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

*:focus {
  outline: 2px solid blue;
}

@media only screen and (max-width: 900px)  {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px)  {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 420px)  {
  html {
    font-size: 11px;
  }
}